/*CSS*/
  
  .wrapper {
    display: flex;
    flex-direction: column;
  }
body{
    background: rgb(209, 199, 218);
    font-size: 1.5em;
    line-height:1.6;
    font: weight 400;
    font-family:'Open Sans', sans-serif;
    color:black;
    margin:30px;
    display:block;
}
.one-half column{
    margin-top: 10%;
    margin-bottom:10%;
    margin-left:10%;

}
h1 {
    font-family:'Open Sans', sans-serif;

}