/*CSS*/
  
  .wrapper {
    display: flex;
    flex-direction: column;
  }
body{
    background: rgb(194, 123, 255);
    font-size: 1.5em;
    line-height:1.6;
    font: weight 400;
    font-family:'BenchNine', sans-serif;
    color:black;
    margin:0px;
    display:block;
}
.one-half column{
    margin-top: 10%;
    margin-bottom:10%;
    margin-left:10%;

}
h1 {
    font-family:'BenchNine', sans-serif;
    margin-left: 10px;
}

span.category, span.address, span.city, span.zip {
  font-size: 15px;
}

input.search {
  margin-left: 10px;
}

h2 {
  font-size: 15px;
}

.h1 {
  background: #9fa4a5a2;
}

.suggestions li{
  background:white;
  list-style-type:none;
  border: 1px solid black;
  padding:20px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-image:linear-gradient(#fffff1,#ebe5a5,#fad573 );
  padding-bottom: 10px;
  border: 1px solid black;
  text-transform: capitalize;
  list-style-position: inside;
  background-image:linear-gradient(to right,#dcf093,#71c993,#9f80d8 );

}
  
.suggestions{
  margin:0;
  padding:0;
  position:relative;
}